* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: Mont;
    src: url(Mont-HeavyDEMO.otf);
}

@font-face {
    font-family: asad;
    src: url(KungFuMasterExpanded-X32x2.otf);
}

body {
    background-color: #4496D2;
}

img {
    width: 60%;
    position: absolute;
    top: 150px;
    left: -60px;
}

/*navbar*/

nav {
    display: flex;
    background-color: white;
    justify-content: space-around;
    /* padding: 20px 0; */
    color: #383C4A;
    align-items: center;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
    height: 70px;
    z-index: 10;
}

nav a {
    font-family: asad;
    font-size: 50px;
    text-decoration: none;
    color: #4496D2;

    cursor: pointer;
    -webkit-transition: color 0.8s;
        transition: color 0.8s;
}

nav a:hover {
    color: #383C4A;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    font-family: Mont;
    color: #383C4A;
    font-size: 20px;
    text-decoration: none;
}

nav ul li p {
    font-family: Mont;
    color: #383C4A;
    font-size: 20px;
}

.wrna {
    position: absolute;
    width: 720px;
    height: 755px;
    left: 720px;
    top: 70px;

    background: #383C4A;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
}

.kotak {
    position: absolute;
    width: 720px;
    height: 500px;
    left: 720px;
    top: 70px;

    background: #383C4A;
}

.kotak table {
    font-family: Mont;
    color: white;
    font-size: 25px;

    position: absolute;
    left: 95px;
    top: 290px;
}

table tr td input {
    font-size: 25px;
}

#jumlah {
    font-family: Mont;
    font-size: 22px;
    text-align: center;
    width: 100px;


    height: 36px;
    color:#4496D2;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #4496D2;
    border-radius: 10px;
    cursor: pointer;
}

#jumlah:hover, #jumlah:focus {
    color:#383C4A;
    outline: 0;
    background-color: #4496D2;
}

#panjang {
    font-size: 22px;
    font-family: Mont;
    height: 36px;
    padding-left: 10px;
    border-radius: 10px;
    color: #383C4A;
    border: white;
}

#lebar {
    font-size: 22px;
    font-family: Mont;
    height: 36px;
    padding-left: 10px;
    border-radius: 10px;
    color: #383C4A;
    border: white;
}

#hasil {
    margin-top: 40px;
    background-color: transparent;
    border: none;
    color:#4496D2;
    font-family: Mont;
    font-size: 60px;
    width: 650px;
}

.kotak h2 {
    font-family: Mont;
    font-size: 55px;
    color: white;

    position: absolute;
    left: 90px;
    top: 120px;
}

/* ukuran tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        display: none;
    }
}